

body {
	background-color: #eaf2e3;
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


/* .div-container{ */
	
	/* background-color: #eeffbb; */
	
/* } */

/* .p-text{ */
	
	/* text-align: center; */
	/* font-weight: bold; */
	/* font-family: italic; */
	
/* } */

header {
	
	background-color: #4784EF;
	color: #fff;
	text-align: center;
	padding: 20px;
}

/* Estilos para el nav y enlaces de ul y li */
nav {
	
	background-color: #4444b3;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.nav__img {
	
	
	width: 64px;
	
	
}

.nav__div{
	
	margin: 1rem 1rem;
	
}

nav ul {
	
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

}
nav ul li {
	
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;

}
nav ul li a {
	
	color: #fff;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 5px;

}
nav ul li a:hover {
	
	background-color: #2323af;

}


section div img {
	
	display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
	margin: 0 auto; /* Centrar las imágenes horizontalmente */
	max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
	border: 3px solid #6945bd; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
	border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */

}

section {

	 padding: 20px; /* espaciado para la sección de 20 pixeles */

}
footer {
	
	background-color: #4444b3;; /* Color de fondo del footer */
	color: #fff;
	padding: 20px 0; 
	
}

.footer__p-text{
	
	color: white;
	
}

.footer__div{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.footer__div ul {
	
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.footer__div ul li {
	
	
	margin: 0 1rem;
	
}

.footer-content {
	
	max-width: 800px; /* Ancho máximo del contenido del footer */
	margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
	text-align: center; 

}

